In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score,f1_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [2]:
cd=pd.read_csv('Company_Data.csv')
cd

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
cd.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [4]:
cd.shape

(400, 11)

In [5]:
cd.isna().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [6]:
cd.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [7]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [8]:
sales_val = []
for value in cd["Sales"]:
    if value<=7.49:
        sales_val.append("low")
    else:
        sales_val.append("high")

In [9]:
cd_data=cd.copy()
cd_data['sales_lev']=np.where(cd_data['Sales']>7.49,'high','low')
cd_data['sales_lev'].head(20)

0     high
1     high
2     high
3      low
4      low
5     high
6      low
7     high
8      low
9      low
10    high
11    high
12     low
13    high
14    high
15    high
16    high
17    high
18    high
19    high
Name: sales_lev, dtype: object

In [10]:
cd_data['sales_lev']=np.where(cd_data['sales_lev']=='high',1,0)

In [11]:
cd['sales_lev']=cd_data['sales_lev']
cd
cd=cd.drop(columns=['ShelveLoc'])
cd

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,Urban,US,sales_lev
0,9.50,138,73,11,276,120,42,17,Yes,Yes,1
1,11.22,111,48,16,260,83,65,10,Yes,Yes,1
2,10.06,113,35,10,269,80,59,12,Yes,Yes,1
3,7.40,117,100,4,466,97,55,14,Yes,Yes,0
4,4.15,141,64,3,340,128,38,13,Yes,No,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,Yes,Yes,1
396,6.14,139,23,3,37,120,55,11,No,Yes,0
397,7.41,162,26,12,368,159,40,18,Yes,Yes,0
398,5.94,100,79,7,284,95,50,12,Yes,Yes,0
399,9.71,134,37,0,27,120,49,16,Yes,Yes,1

In [12]:
cd1=cd.drop(columns=['Urban','US'])
cd1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,sales_lev
0,9.50,138,73,11,276,120,42,17,1
1,11.22,111,48,16,260,83,65,10,1
2,10.06,113,35,10,269,80,59,12,1
3,7.40,117,100,4,466,97,55,14,0
4,4.15,141,64,3,340,128,38,13,0
...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,1
396,6.14,139,23,3,37,120,55,11,0
397,7.41,162,26,12,368,159,40,18,0
398,5.94,100,79,7,284,95,50,12,0
399,9.71,134,37,0,27,120,49,16,1

In [13]:
x=cd1.drop(['sales_lev','Sales'],axis=1)
y=cd1['sales_lev']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [15]:
from sklearn import metrics

In [16]:
from sklearn.ensemble import RandomForestClassifier
r_classifier = RandomForestClassifier(random_state=1)
r_classifier.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [17]:
r_classifier.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [18]:
r_classifier.score(x_test, y_test)

0.7583333333333333

In [19]:
y_pred = r_classifier.predict(x_test)

In [20]:
y_pred

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0])

In [21]:
y_test

132    1
390    0
310    1
3      0
248    0
      ..
381    0
53     0
229    1
303    1
37     0
Name: sales_lev, Length: 120, dtype: int32

In [22]:
confusion = metrics.confusion_matrix(y_test, y_pred)
confusion.ravel()

array([52, 16, 13, 39], dtype=int64)

In [23]:
 precision_positive = metrics.precision_score(y_test, y_pred)
 
 precision_positive

0.7090909090909091

In [24]:
 recall_val = metrics.recall_score(y_test, y_pred)
 
 recall_val

0.75

In [25]:
f1_scr = metrics.f1_score(y_test, y_pred)

f1_scr

0.7289719626168225